@import '../common/_var.css';
@import '../common/_animation.css';

@component Btn {
	display: inline-block;
	border-radius: 4px;
	font-size: var(--fontSize-default);
	transition: var(--transition-btn-default);
	&:not(.disabled) {
		cursor: pointer;
	}
	/*type*/
	@m primary {
		background: var(--color-primary);
		background: linear-gradient(90deg, var(--color-primary), var(--color-primary-light) 60%);
		color: var(--color-white);
		&.outline {
			border: 1px solid var(--color-primary);
			background: transparent;
			color: var(--color-primary);
			&:hover {
				background: var(--color-primary);
				color: var(--color-white);
			}
		}
		&:hover {
			background: var(--color-primary-dark);
			background: linear-gradient(90deg, var(--color-primary-dark), var(--color-primary-dark) 100%);
		 }
	}
	@m danger {
		background: var(--color-danger);
		color: var(--color-white);
		&.outline {
			border: 1px solid var(--color-danger);
			background: transparent;
			color: var(--color-danger);
			&:hover {
				background: var(--color-danger);
				color: var(--color-white);
			}
		}
		&:hover {
			background: var(--color-danger-dark);
		}
	}
	@m warning {
		background: var(--color-warning);
		color: var(--color-white);
		&.outline {
			border: 1px solid var(--color-warning);
			background: transparent;
			color: var(--color-warning);
			&:hover {
				background: var(--color-warning);
				color: var(--color-white);
			}
		}
		&:hover {
			background: var(--color-warning-dark);
		}
	}
	@m default {
		background: var(--color-gray-4);
		color: var(--color-black-4);
		&.outline {
			border: 1px solid var(--color-black-4);
			background: transparent;
			color: var(--color-black-4);
			&:hover {
				 background: var(--color-gray-3);
			 }
		}
		&:hover {
			background: var(--color-gray-3);
		}
		& .o-Btn__loading:after {
			border-color: var(--color-black-4);
		}
	}

	/*size*/
	@m sm {
		height: var(--Button-sm-height);
		padding: 0 var(--Button-sm-padding);
		font-size: var(--fontSize-14);
		&.round {
			border-radius: calc(var(--Button-sm-height) / 2);
		}
	}
	@m md {
		height: var(--Button-md-height);
		padding: 0 var(--Button-md-padding);
		font-size: var(--fontSize-16);
		&.round {
			border-radius: calc(var(--Button-md-height) / 2);
		}
	}
	@m lg {
		height: var(--Button-lg-height);
		padding: 0 var(--Button-lg-padding);
		font-size: var(--fontSize-16);
		&.round {
			border-radius: calc(var(--Button-lg-height) / 2);
		}
	}

	/*disabled*/
	@when disabled {
		cursor: not-allowed !important;
		border: none;
		color: var(--color-white);
		background: var(--color-gray-2);
		border-color: var(--color-gray-2);
		&:hover {
			 background: var(--color-gray-2);
			 border-color: var(--color-gray-2);
		}
	}

	/*loading*/
	@d loading {
		display: inline-block;
		width: var(--fontSize-12);
		height: var(--fontSize-12);

		&:after {
			box-sizing: border-box;
			display: block;
			position: relative;
			content: '';
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: 2px solid var(--color-white);
			border-bottom-color: transparent !important;
			animation: loading-spin infinite 1.4s 0s linear;
		}
	}
}


@component BtnGroup {
	font-size: 0;
	& .o-Btn:not(:first-of-type).outline {
		margin-left: -1px;
	}
	& .o-Btn:not(:first-of-type):not(:last-of-type) {
		margin-left: -1px;
		border-radius: 0;
	}
	& .o-Btn:not(:first-of-type):not(:last-of-type):not(.outline) {
		border-right: 1px solid rgba(255,255,255,0.2);
		border-left: 1px solid rgba(255,255,255,0.2);
	}
	& .o-Btn:first-of-type {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
  	}
	& .o-Btn:last-of-type {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	& .o-Btn--primary:not(:hover):not(.outline) {
		background: var(--color-primary);
		background: linear-gradient(90deg, var(--color-primary), var(--color-primary) 100%);
	}
}
