@import '../common/_var.css';

@component DatePicker {
	width: calc(var(--DatePicker--dayWidth) * 8);
	padding: calc(var(--DatePicker--dayWidth) / 2);
	background: white;
	cursor: pointer;

	& * {
		transition: all ease 0.34s;
	}

	& ::selection {
		background: transparent;
	}

	& .o-YearPicker__year,
	& .o-MonthPicker__month,
	& .o-DayPicker__day {
		/*padding: 0 8px;*/
		& span {
			display: block;
		}
	  	&:hover:not(.is-disabled, .is-selected) span {
			color: var(--color-primary-light);
			background: var(--color-gray-3);
			border-radius: calc(var(--DatePicker--dayHeight) / 2);
		}
	}

	& .is-selected span {
		color: white;
		border-radius: calc(var(--DatePicker--dayHeight) / 2);
		background: var(--color-primary) !important;
	}
}

@component YearPicker {
	display: block;

	@d year {
		display: inline-block;
		width: calc(var(--DatePicker--dayWidth) * 7 / 4);
		height: var(--DatePicker--dayHeight);
		line-height: var(--DatePicker--dayHeight);
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
	}
}

@component MonthPicker {
	display: block;

	@d month {
		display: inline-block;
		width: calc(var(--DatePicker--dayWidth) * 7 / 4);
		height: var(--DatePicker--dayHeight);
		line-height: var(--DatePicker--dayHeight);
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
	}
}

@component DayPicker {
	display: block;

	@d weekDay {
		font-weight: 700;
		color: var(--color-black-4);
	}

	@d day {
		cursor: pointer;
	}

	& .o-DayPicker__weekDay,
	& .o-DayPicker__day {
		display: inline-block;
		width: var(--DatePicker--dayWidth);
		height: var(--DatePicker--dayHeight);
		line-height: var(--DatePicker--dayHeight);
		text-align: center;
		vertical-align: middle;
  		font-size: 16px;
	}
}
