@import '../common/_var.css';

@component MessageBox {
	z-index: var(--zIndex-popover);
	position: fixed;
	top: 0;
	height: 0;
	width: 100%;
	overflow: visible;
}

@component Message {
	pointer-events: none;
	position: relative;
	margin-top: 8px;
	height: var(--Message-height);
	text-align: center;

	@d text {
		overflow: hidden;
		pointer-events: all;
		display: inline-block;
		height: 100%;
		min-width: var(--Message-minWidth);
		padding: 0 calc(var(--Message-height) / 2);
		line-height: var(--Message-height);
		white-space: nowrap;
		border-radius: var(--Message-borderRadius);
	}

	@m info {
		color: var(--Message-info-color);
		/* color: white; */
		/* background: var(--color-info); */
		background: var(--Message-info-bg);
		/*border: var(--Message-info-border);*/
		/*box-shadow: var(--shadow-message);*/
	}
	@m danger {
		color: var(--Message-danger-color);
		/* color: white; */
		/* background: var(--color-danger); */
		background: var(--Message-danger-bg);
		/*border: var(--Message-danger-border);*/
		/*box-shadow: var(--shadow-message);*/
	}
	@m success {
		color: var(--Message-success-color);
		/* color: white; */
		/* background: var(--color-primary); */
		background: var(--Message-success-bg);
		/*border: var(--Message-success-border);*/
		/*box-shadow: var(--shadow-message);*/
	}
	@m warning {
		color: var(--Message-warning-color);
		/* color: white; */
		/* background: var(--color-warning); */
		background: var(--Message-warning-bg);
		/*border: var(--Message-warning-border);*/
		/*box-shadow: var(--shadow-message);*/
	}
}

