@import './../common/_var.css';

@component Progress {
	@d circle {
	}
}

@component CircleProgress {
	width: 120px;
	height: 120px;

	@d backup {
		stroke: var(--color-gray-2);
	}
	@d value {
		transition: stroke-dashoffset ease-out 0.64s;
	}
}

@component LineProgress {
	position: relative;
	width: 120px;
	height: var(--LineProgress-height);
	font-size: 0;

	@d bar {
		display: inline-block;
		width: 100%;
		vertical-align: middle;
	}

	@d backup {
		height: 6px;
		width: 100%;
		border-radius: 3px;
		overflow: hidden;
		background: var(--color-gray-2);
	}

	@d value {
		width: 100%;
		height: 100%;
		border-radius: 3px;
		transition: width ease-out 0.64s;
		background: linear-gradient(90deg, var(--color-primary-dark) 60px, var(--color-primary-light) 100px);
	}

	@d info {
		width: 40px;
		display: inline-block;
		padding-left: 6px;
		vertical-align: middle;
		text-align: right;
		font-size: 14px;
		color: var(--color-black-2);
	}

	@when showInfo {
		& .o-LineProgress__bar {
			margin-right: -40px;
			padding-right: 40px;
		}
	}
}
