{
	"presets": [
		[
			"env",
			{
				"modules": "umd",
				"targets": {
					"browsers": [
						"> 1%",
						"last 2 versions",
						"ie >= 10"
					]
				},
				"useBuiltIns": "usage",
            	"debug": false
			}
		],
		"stage-3"
	],
	"plugins": [
		"jsx-v-model",
		"transform-runtime",
		"transform-vue-jsx",
		"transform-object-rest-spread"
	],
	"env": {
		"test": {
			"presets": [
				"env",
				"stage-2"
			],
			"plugins": [
				"istanbul"
			]
		}
	},
	"comments": false
}
