/*default*/
* {
	box-sizing: border-box;
}

/*layout*/
@u center{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}


/*reset style*/
/*button*/
button {
	outline: none;
	border: none;
	margin: 0;
	white-space: nowrap;
}
