@component InputDate {
	text-align: center;

	& .o-DatePicker {
		display: inline-block;
	}
}

@component DatePicker {
	width: calc(var(--DatePicker-dayWidth) * 8);
	padding: calc(var(--DatePicker-dayWidth) / 2);
	cursor: pointer;

	& * {
		transition: all ease 0.34s;
	}

	& ::selection {
		background: transparent;
	}

	& .o-YearPicker__year,
	& .o-MonthPicker__month,
	& .o-DayPicker__day {
		padding: calc((var(--DatePicker-dayHeight) - var(--Button-md-height)) / 2);

		& span {
			display: inline-block;
			height: var(--Button-md-height);
			width: 100%;
			line-height: var(--Button-md-height);
			border-radius: calc(var(--DatePicker-dayHeight) / 2);
		}

		&:hover:not(.is-disabled, .is-selected) span {
			color: var(--color-primary-light);
			background: var(--color-gray-3);
		}
	}

	& .is-selected span {
		color: white;
		border-radius: calc(var(--DatePicker-dayHeight) / 2);
		background: var(--color-primary) !important;
	}

	& .is-currentEdit {
		color: var(--color-primary);
	}

	@d statusGroup {
		display: inline-block;

		& button {
			padding: 0;
		}
	}

	@d actions {
		text-align: center;
		margin-bottom: calc(var(--DatePicker-dayHeight) / 4);

		& button {
			font-size: 16px;
			height: var(--Button-md-height);
			border-radius: calc(var(--DatePicker-dayHeight) / 2);

			&:hover {
				color: var(--color-primary);
			}
		}
	}

	@d prevBtn {
		float: left;
	}

	@d nextBtn {
		float: right;
	}


}

@component YearPicker {
	display: block;

	@d year {
		display: inline-block;
		width: calc(var(--DatePicker-dayWidth) * 7 / 4);
		height: var(--DatePicker-dayHeight);
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
	}
}

@component MonthPicker {
	display: block;

	@d month {
		display: inline-block;
		width: calc(var(--DatePicker-dayWidth) * 7 / 4);
		height: var(--DatePicker-dayHeight);
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
	}
}

@component DayPicker {
	display: block;
	text-align: left;

	@d weekDay {
		font-weight: 700;
		color: var(--color-black-4);
	}

	@d day {
		cursor: pointer;
	}

	& .o-DayPicker__weekDay,

	& .o-DayPicker__day {
		display: inline-block;
		width: var(--DatePicker-dayWidth);
		height: var(--DatePicker-dayHeight);
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
	}
}
