@component InputDate {
	text-align: center;

	& .o-DatePicker {
		display: inline-block;
	}
}

@component DatePicker {
	width: calc(var(--DatePicker-dayWidth) * 8);
	padding: calc(var(--DatePicker-dayWidth) / 2);
	color: var(--fontColor-default);
	cursor: pointer;

	& * {
		transition: all 0.34s ease 0s;
	}

	& ::selection {
		background: transparent;
	}

	& .o-YearPicker__year,
	& .o-MonthPicker__month,
	& .o-DayPicker__day {

		/*padding: calc((var(--DatePicker-dayHeight) - var(--Button-md-height)) / 2);*/

		& span {
			position: relative;
			display: inline-block;
			height: var(--Button-md-height);
			width: 100%;
			line-height: var(--Button-md-height);
			border-radius: calc(var(--DatePicker-dayHeight) / 2);

			& label {
				pointer-events: none;
				z-index: 1;
				position: relative;
				transition: none;
			}

			&:after {
				transform: scale(0.66);
				opacity: 0;
				z-index: 0;
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				width: 100%;
				height: 100%;
				border-radius: calc(var(--DatePicker-dayHeight) / 2);
				background: var(--color-primary) !important;
				transition: all linear 0.12s;
			}
		}

		&:hover:not(.is-disabled, .is-selected) span {
			color: var(--color-primary-light);
			background: var(--color-gray-3);
		}
	}

	& .is-selected span {
		position: relative;
		color: white;

		&:after {
			transform: scale(1);
			opacity: 1;
		}
	}

	& .is-currentEdit {
		color: var(--color-primary);
	}

	@d statusGroup {
		display: inline-block;

		& button {
			padding: 0;
		}
	}

	@d actions {
		text-align: center;
		margin-bottom: calc(var(--DatePicker-dayHeight) / 4);

		& button {
			font-size: 16px;
			height: var(--Button-md-height);
			border-radius: calc(var(--DatePicker-dayHeight) / 2);

			&:hover {
				color: var(--color-primary);
			}
		}
	}

	@d prevBtn {
		float: left;
	}

	@d nextBtn {
		float: right;
	}


}

@component YearPicker {
	display: block;

	@d year {
		display: inline-block;
		width: calc(var(--DatePicker-dayWidth) * 7 / 4);
		height: var(--DatePicker-dayHeight);
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
	}
}

@component MonthPicker {
	display: block;

	@d month {
		display: inline-block;
		width: calc(var(--DatePicker-dayWidth) * 7 / 4);
		height: var(--DatePicker-dayHeight);
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
	}
}

@component DayPicker {
	display: block;
	text-align: left;

	@d weekDay {
		font-weight: 700;
		color: var(--color-black-4);
	}

	@d day {
		cursor: pointer;

		&.is-disabled {
			pointer-events: none;
			color: var(--color-gray-2);
		}

		&.is-inbounds {
			&:first-of-type span {
				border-top-left-radius: calc(var(--DatePicker-dayHeight) / 2);
				border-bottom-left-radius: calc(var(--DatePicker-dayHeight) / 2);
			}

			&:last-of-type span {
				border-top-right-radius: calc(var(--DatePicker-dayHeight) / 2);
				border-bottom-right-radius: calc(var(--DatePicker-dayHeight) / 2);
			}

			span {
				border-radius: 0;
				background: var(--color-gray-3);
			}
		}
	}

	& .o-DayPicker__weekDay,
	& .o-DayPicker__day {
		display: inline-block;
		width: var(--DatePicker-dayWidth);
		height: var(--DatePicker-dayHeight);
		line-height: var(--DatePicker-dayHeight);
		text-align: center;
		vertical-align: middle;
		font-size: 16px;
	}
}
