@component FormGroup {
	display: block;

	@m inline {
		& .o-FormItem{
			display: inline-block;
			margin-right: 1rem;
			vertical-align: middle;
		}

		& .o-FormItem__wrapper {
			display: inline-block;
		}
	}

	@m blockLabel {
		& .o-FormItem__label {
			display: block;
			height: 12px;
			width: 100%;
			line-height: 12px;
			margin-bottom: 10px;
			text-align: left;
			color: #878F94;
			font-size: 12px;
		}
	}
}

@component FormItem {
	position: relative;
	margin-bottom: 24px;

	@d label {
		float: left;
		display: inline-block;
		padding-right: 12px;
		text-align: right;
		line-height: var(--Input-lg-height);

		&:before {
			content: ' * ';
			display: none;
			color: var(--color-danger);
		}
	}

	@d wrapper {
		& .o-Input {
			height: var(--Input-lg-height);
			line-height: var(--Input-lg-height);
		}
	}

	@when required {
		& .o-FormItem__label:before {
			display: inline;
		}
	}
}
