@component FormGroup {
	display: block;

	@m inline {
		& .o-FormItem{
			display: inline-block;
			margin-right: 1rem;
			vertical-align: middle;
		}

		& .o-FormItem__wrapper {
			display: inline-block;
		}
	}

	@m blockLabel {
		& .o-FormItem__label {
			display: block;
			height: 12px;
			width: 100%;
			line-height: 12px;
			margin-bottom: 10px;
			text-align: left;
			color: #878F94;
			font-size: 12px;
		}
	}
}

@component FormItem {
	position: relative;
	margin-bottom: 24px;

	@d label {
		float: left;
		display: inline-block;
		padding-right: 12px;
		text-align: right;
		line-height: var(--Input-lg-height);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&:before {
			content: ' * ';
			display: none;
			color: var(--color-danger);
		}
	}

	@d wrapper {
		position: relative;

		& .o-Input {
			height: var(--Input-lg-height);
			line-height: var(--Input-lg-height);
		}
	}

	@d tip {
		position: absolute;
		top: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		font-size: var(--FormItem--info-fontSize);
		color: var(--color-black-5);
	}

	@when required {
		& .o-FormItem__label:before {
			display: inline;
		}
	}

	@when error {
		& .o-FormItem__tip {
			color: var(--color-danger);
		}

		& .o-Input__wrapper {
			border-color: var(--color-danger) !important;

			&.is-focused {
				box-shadow: 0 0 0 2px color(var(--color-danger) alpha(30%)) !important;
			}
		}
	}
}
