@c Loading {
	position: absolute;
	z-index: var(--zIndex-tooltip);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--Loading-bg);

	@d spin {
		width: var(--Loading-spin-width);
		height: var(--Loading-spin-height);

		& svg {
			animation: loading-rotate 1.2s linear infinite;
		}
	}
}
