.o-SideNav {
	display: block;
	width: 280px;
	height: auto;
	padding: 0 var(--SideNav-padding) 0 0;
	list-style: none;
	border-right: 1px solid #E1E1E1;


	&.o-SideNav--fixed {
		position: fixed;
		z-index: var(--zIndex-fixed);
		top: 0;
		left: 0;
		height: 100%;
	}

	.o-SubNav {
		overflow: hidden;
		list-style: none;
	}

	.o-SubNav.is-open {
		& > .o-SubNav__title .o-SubNav__arrow {
			transform: rotateZ(90deg);
		}

		& > .o-SubNav__group {
			height: auto;
		}
	}

	.o-SubNav__title {
		position: relative;
		height: var(--SideNav-height);
		width: 100%;
		padding: 0 var(--SideNav-padding);
		line-height: var(--SideNav-height);
		cursor: pointer;
	}

	.o-SubNav__arrow {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 12px;
		transition: var(--transition-navbar);
	}

	.o-SubNav__group {
		height: 0;
		padding-left: var(--SideNav-padding);
		transition: var(--transition-navbar);

		& .o-NavItem.is-selected {
			background: color(var(--color-primary) alpha(10%));
		}
	}

	.o-NavItem {
		display: block;
		height: var(--SideNav-height);
		padding: 0 var(--SideNav-padding);
		line-height: var(--SideNav-height);
		border-radius: 4px;
		cursor: pointer;
		transition: var(--transition-navbar);
	}

	.o-NavItem.is-selected {
		color: var(--color-primary);
		font-weight: 500;
	}

	.o-NavItem:hover {
		color: var(--color-primary);
	}
}

.o-Navbar {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #E1E1E1;

	&.o-Navbar--fixed {
		position: fixed;
		z-index: var(--zIndex-fixed);
		top: 0;
		left: 0;
		width: 100%;
	}

	.o-NavGroup {
		display: flex;
		align-items: center;
		padding: 0 var(--SideNav-padding);
	}

	.o-NavGroup.o-NavGroup--right {
		margin-left: auto;
	}

	.o-NavItem {
		display: inline-block;
		height: var(--SideNav-height);
		padding: 0 var(--SideNav-padding);
		line-height: var(--SideNav-height);
		cursor: pointer;
		transition: var(--transition-navbar);
	}

	.o-NavItem.is-selected {
		color: var(--color-primary);
		font-weight: 500;
	}
}

