@component Pagination {
	@d action {

	}
}

@component Page {
	display: inline-block;
	margin: 0 2px;
	padding: 0;
	height: var(--Pagination-height);
	line-height: var(--Pagination-height);
	border-radius: var(--Pagination-radius);
	transition: var(--transition-default);

	&:hover {
		background: var(--color-gray-4);
	}

	@d link {
		display: block;
		min-width: var(--Pagination-height);
		padding: 0 6px;
		color: inherit !important;
		font-size: 14px;
		text-decoration: none;
		text-align: center;
		cursor: pointer;
	}

	@when active {
		color: white;
		font-weight: 700;
		background: var(--color-primary);
	}

	@when disabled {
		color: var(--color-gray-2);

		& a {
			cursor: not-allowed;
		}
	}
}
